body {
	background-color: #eaf2f8;
}

.logo {
	background: rgba(242, 247, 250, 0.46);
}

.card_main {
	background: rgba(242, 247, 250, 0.46);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.3px);
	-webkit-backdrop-filter: blur(5.3px);
}
h3 {
	color: #333;
	text-wrap: pretty;
}

.btn-primary {
	background-color: #007bff;
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.2px);
	-webkit-backdrop-filter: blur(3.2px);
	border: 1px solid rgba(242, 247, 250, 0.3);
}

.btn-primary:hover {
	background-color: #0056b3;
}

.shadow {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
