body {
	background-color: #f2f7fa;
}

.my-button {
	margin-left: 120px;
	margin-top: 30px;
	color: white;
	border: none;
	padding: 10px 20px;
	width: 200px;
}

.card {
	margin-top: 120px;
	margin-left: 220px;
	margin-right: 220px;
	padding: 60px;
	border-style: ridge;
	border-radius: 10px;
	background-color: white;
	overflow: hidden;
}

.card-title {
	margin-top: 30px;
	color: #004c97;
	margin-left: 120px;
	font-size: 60px;
	font-weight: bold;
}

.date_time {
	font-size: 15px;
	font-weight: normal;
	color: black;
}

.btn-secondary {
	background-color: #fca549;
	border: none;
}

.btn-secondary:hover {
	background-color: #f7941d;
}

.nav-link {
	font-weight: bold;
	color: #004c97;
	margin-top: 2px;
	font-size: 16px;
}

ul{
	margin-left: 25px;
}

.navbar {
	border-bottom: 3px solid #f38c00;
}

.nav-link:hover {
	color: #fca549;
}
