body {
    background-color: #f2f7fa;
}

.my-button {
    margin-left: 120px;
    margin-top: 30px;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 200px;
}

.card {
    margin-top: 120px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 60px;
    border-style: ridge;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

.card-title {
    margin-top: 90px;
    color: #004c97;
    margin-left: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.date_time {
    font-size: 14px;
    color: #412200;
    margin-left: 120px;

}

ul {
    margin: 0;
    padding: 0;
}


nav {
    background-color: #050505;
    display: flex;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #004c97;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f7941d;
}

.logo {}

.nav_bar {
    margin-left: 70px;
    margin-top: 10px;
}