body {
	background-color: #f2f7fa;
	display: flex;
	transition: margin-left 0.3s;
}

.logout-btn:hover {
	background-color: #f7941d;
	color: black;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	margin-left: 220px;
	transition: margin-left 0.3s;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	margin-left: 220px;
}

.button_bater {
	color: white;
	border: none;
	padding: 10px 20px;
	width: 80px;
	background-color: #fca549;
}

.button_bater:hover {
	background-color: #f7941d;
}

.my-button {
	color: white;
	border: none;
	padding: 10px 20px;
	width: 200px;
	margin-top: 30px;
	background-color: #fca549;
}

.my-button:hover {
	background-color: #f7941d;
}

.card {
	margin-top: 40px;
	padding: 70px;
	border-style: ridge;
	border-radius: 10px;
	background-color: white;
}

.card-title {
	margin-top: 30px;
	color: #004c97;
	display: flex;
	align-items: flex-start;
	font-weight: bold;
	font-size: 55px;
}

.welcome-text {
	flex: 1;
}

.date_time {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #797979;
}

#clock {
	font-weight: bold;
}

.info-container {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 60px;
}

.saldos {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.saldo-container {
	display: flex;
	flex-direction: column;
	background-color: #eef3f7;
	padding: 40px;
	border-radius: 8px;
	font-weight: bold;
}

.saldo {
	font-size: 16px;
	color: #333;
}

.saldo span {
	font-weight: bold;
	font-size: 16px;
	color: #666;
}

.saldo-valor {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin: 5px 0;
}

.ultimo-registro {
	font-size: 14px;
	color: #888;
	padding: 10px;
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px);
}